.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 0 15px;

  &__heading {
    text-align: center;
    font-size: 32px;
  }

  &__content {
    max-width: 700px;

    a {
      text-align: center;
      display: block;
    }
  }
}
